<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759418813573-ii91gl0cutgqiql1fgn7dps3ftve2kk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759418813573-ii91gl0cutgqiql1fgn7dps3ftve2kk5</string>
	<key>API_KEY</key>
	<string>AIzaSyCL4SoyAmzldeQwDAkf9s7p_HnbIOtx0ys</string>
	<key>GCM_SENDER_ID</key>
	<string>759418813573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.sjjv.Methodikum</string>
	<key>PROJECT_ID</key>
	<string>de-sjjv-methodikum</string>
	<key>STORAGE_BUCKET</key>
	<string>de-sjjv-methodikum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759418813573:ios:1941f374828c4764283dec</string>
	<key>DATABASE_URL</key>
	<string>https://de-sjjv-methodikum.firebaseio.com</string>
</dict>
</plist>